mixin breadcrumb(text)
  ol.breadcrumb.custom-breadcrumb
    li
      a(href='/index.html') Главная
    li=text
  h1=text

mixin breadcrumbPortfolio(text)
  ol.breadcrumb.custom-breadcrumb
    li
      a(href='/index.html') Главная
    li
      a(href='/portfolio.html') Портфолио
    li=text
  h1=text

mixin portfolioPage(href, scr, name)
  .col-md-4.col-sm-6.portfolio-item
    a(href=href)
      img.img-responsive.img-portfolio(src=scr)

    h3.h3-caption-foto
      a(href=href)=name

mixin portfolioItem(href, scr)
  .col-md-4.col-sm-6.portfolio-item
    a.fancybox(rel='gallery1', href=href)
      img.img-responsive.img-portfolio(src=scr)

//- Return `portfolioItem` by `count` number:
//- Example: +portfolioItemLoop(52, 'loft-wedding')
//- will prints 52 items with `../../img/portfolio/main/loft-wedding/1.jpg` paths.
mixin portfolioItemLoop(count, name)
  - for (var i = 1; i <= count; ++i)
    +portfolioItem('../../img/portfolio/main/' + name + '/' + i + '.jpg', '../../img/portfolio/mini/' + name + '/' + i + '.jpg')
